@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" media="all" />
    <script src="@Url.Content("~/Scripts/jquery-1.11.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/json3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/response.js")"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap.js")"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/web/reports">RptPutty</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="~/web/reports">Reports</a></li>
                    <li><a href="~/web/status">Job Status</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="content" class="container">
        @RenderBody()
    </div>
</body>
</html>

